/* .para {
  height: 30px;
  width: 20px;
  background: yellow;
  color: black;
}

.newClass {
  background: blue;
  color: white;
} */

/* .light {
  background-color: white;
}

.dark {
  background-color: black;
} */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #c0c999;
  text-align: center;
  align-items: center;
}

.container {
  height: 70vh;
  width: 70vh;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
}
